.main
	.slider.slider-01
		.layer.layer-01
			.moon
			.tree.tree-01
			.tree.tree-02
			.tree.tree-03
			.tree.tree-04
			.tree.tree-05
	//- ===============
	.slider.slider-tree 
		- var n = 0;
		while n < 2
			.layer.layer-tree
				.tree.tree-01
				.tree.tree-02
				.tree.tree-03
			- n++;

	//- ===============
	.slider.slider-02
		- var n = 0;
		while n < 2
			.layer.layer-02
				.tree.tree-01
				.tree.tree-02
				.tree.tree-03
				.tree.tree-04
				.tree.tree-05
				.tree.tree-06
				.tree.tree-cta
				.owl
					.head
					.body
				.house
					.fireplace
			- n++;
	//- ===============
	.slider.slider-03 
		- var n = 0;
		while n < 2     
			.layer.layer-03
				.stone
				.ground
				.bush.bush-01
				.bush.bush-02
				.bush.bush-03
				.bush.bush-04
				.bush.bush-05
				.bush.bush-06
				.bush.bush-07

			- n++;
	//- ===============            
	.slider.slider-tree02 
		- var n = 0;
		while n < 2
			.layer.layer-tree02
				.tree.tree-01
					.leaf
					.leaf
					.leaf
					.leaf
					.leaf
				.tree.tree-02
			- n++;
	//- ===============            
	.ghost 
	.light 
	.fl.fl-small
		.f.f-01
		.f.f-02
		.f.f-03
		.f.f-04

	//- =============== 
	.slider.slider-05 
		- var n = 0;
		while n < 2       
			.layer.layer-05 
				.ground
				.tree.tree-01
					.leaf
					.leaf
					.leaf
					.leaf
					.leaf
				.bush.bush-00
				.tree.tree-02
				.tree.tree-03
				.bush.bush-01
				.bush.bush-02
				.bush.bush-03
				.bush.bush-04
				.stone
				.bush.bush-05
				.bush.bush-06
				.smt
				.owl
					.head
					.body
			- n++;
	.fl.fl-big
		.f.f-01
		.f.f-02 
	a.fog
	a#start.start
		h1 start
		.fl.fl-small
			.f.f-01
			.f.f-02
			.f.f-03
			.f.f-04
		.fl.fl-big
			.f.f-01
			.f.f-02
	audio#a
		source(
			src="https://rawcdn.githack.com/ricardoolivaalonso/Codepen/16ba7feffe21850ab948d1f1212adfbefe974171/Halloween2022/forest.mp3",
			type="audio/mpeg"
		)
